.bg-dark {
  background-color: #211915 !important;
}

body {
  overflow-x: hidden;
  font-family: 'Heebo', sans-serif;
  background-color: #f3f3f3;
}

p {
  line-height: 1.75;
}

a {
  color: #29A19C;
}

a:hover {
  color: #1f7875;
}

.text-primary {
  color: #29A19C !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #211915;
  font-family: 'Mulish', sans-serif;
}

.page-section {
  padding: 100px 0;
}

.page-section h2.section__title {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

.page-section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

::-moz-selection {
  background: #29A19C;
  text-shadow: none;
}

::selection {
  background: #29A19C;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.btn {
  font-family: 'Mulish', sans-serif;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: #29A19C;
  border-color: #29A19C;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #21837e !important;
  border-color: #21837e !important;
  color: white;
}

#mainNav {
  background-color: #211915;
}

#mainNav img {
  width: 30%;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #29A19C;
  font-family: 'Mulish', sans-serif;
}

#mainNav .navbar-brand {
  color: #29A19C;
  font-family: 'Kaushan Script', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #1f7875;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Mulish', sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #29A19C;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav img {
    width: 22%;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 0;
    background-color: #211915;
  }
  #mainNav.navbar-shrink img {
    width: 23%;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

.carousel-control-next, .carousel-control-prev {
  opacity: 0;
}

.carousel-control-next:hover, .carousel-control-next:focus,
.carousel-control-prev:hover, .carousel-control-prev:focus {
  opacity: 0;
}

.carousel-indicators .active {
  background-color: #211915;
}

.carousel-indicators li {
  opacity: 1;
  height: 5px;
}

.carousel-item .carousel__info {
  top: 10em !important;
}

.carousel-item .carousel__info h2 {
  font-family: 'Mulish', sans-serif;
  font-weight: 900;
  font-size: 3em;
  letter-spacing: 4px;
}

.carousel-item .carousel__info p {
  font-family: 'Heebo', sans-serif;
  font-weight: 500;
  font-size: 1.5em;
}

.carousel-item .carousel__info .limav-logo-slogan {
  position: relative;
  top: 30%;
}

.carousel__image img {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
  object-fit: cover;
}

#about
.row {
  border-left: 5px solid #29A19C;
}

#properties {
  color: #707070;
}

#properties .title__line--properties {
  text-align: left;
  border-bottom: 5px solid #29A19C;
  margin: 10px 0;
}

#properties .card__property {
  color: #707070;
}

#properties .card__property:hover {
  text-decoration: none !important;
}

#properties .card {
  border-radius: 8px;
  -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

#properties .card-title {
  color: #707070;
}

#properties .card__status {
  font-size: 0.8em;
}

#properties .card__location {
  font-weight: 500;
  font-size: 0.8em;
}

@media (max-width: 578px) {
  #properties .properties__btn {
    display: block;
    width: 100%;
  }
  /***** LAND ******/
  #land .land__btn {
    display: block;
    width: 100%;
  }
}

/***** LAND *****/
#land .land__btn {
  background-color: #F3C623;
  color: #fff;
}

#land .title__line--land {
  text-align: left;
  border-bottom: 5px solid #F3C623;
  margin: 10px 0;
}

#land .land__img-description {
  position: absolute;
  top: 2em;
  left: 5em;
}

.land__img-description h4 {
  color: #fff;
}

#allproperties {
  color: #fff;
  margin-top: 2em;
}

#allproperties a {
  color: #fff;
}

#allproperties a:hover {
  text-decoration: none;
}

#allproperties .card-img-top {
  max-height: 22em;
  -o-object-fit: cover;
  object-fit: cover;
}

#allproperties .card__puertovallarta {
  background-color: #29A19C;
}

#allproperties .card__rivieranayarit {
  background-color: #127681;
}

#allproperties .card-title {
  color: #fff;
}

#allproperties .allproperties__title {
  border-left: 5px solid #29A19C;
  margin-top: 2.5em;
}

#allproperties .allproperties__title--main {
  font-size: 5em;
}

#allproperties .allproperties__title--sub {
  color: #29A19C;
  font-size: 1.9em;
}

#allproperties .card__location {
  font-weight: 700;
  font-family: 'Mulish', sans-serif;
}

#allproperties .card__data {
  font-size: 1.3em;
}

@media (max-width: 578px) {
  #allproperties .allproperties__title--main {
    font-size: 3.6em;
  }
  #allproperties .allproperties__title--sub {
    font-size: 1.8em;
  }
  #allproperties .card__location {
    display: block;
    text-align: left;
    padding-left: 1em;
  }
}


#propertiesdescription {
  color: #555555;
}

#propertiesdescription .propertiesdescription__col {
  padding: 3em 6em 1em;
}

#propertiesdescription .propertiesdescription__title {
  border-left: 5px solid #29A19C;
  padding: 1em;
}

#propertiesdescription .propertiesdescription__title--main, #propertiesdescription .propertiesdescription__title--sub, #propertiesdescription .propertiesdescription__title--sub-location {
  color: #fff;
}

#propertiesdescription .propertiesdescription__title--sub, #propertiesdescription .propertiesdescription__title--sub-location {
  font-weight: 400;
}

#propertiesdescription .propertiesdescription__image img {
  position: absolute;
  z-index: -1;
  color: white;
  height: 60vh;
  width: 100vw;
  -o-object-fit: cover;
  object-fit: cover;
}

#propertiesdescription .propertiesdescription__photos {
  text-align: center;
  margin-top: 30vh;
}

#propertiesdescription .propertiesdescription__photos img {
  height: 12.6em;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
}

#propertiesdescription ul.social-buttons {
  margin-bottom: 0;
}

#propertiesdescription ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 0;
  -webkit-transition: none;
  transition: none;
  color: #707070;
  border-radius: 0;
  outline: none;
}

#propertiesdescription ul.social-buttons li a:active, #propertiesdescription ul.social-buttons li a:focus, #propertiesdescription ul.social-buttons li a:hover {
  color: #211915;
}

#propertiesdescription .list__data {
  list-style: none;
  font-weight: 500;
}

#propertiesdescription .list__data--info {
  font-weight: 400;
}

@media (max-width: 992px) {
  #propertiesdescription .propertiesdescription__col {
    padding: 5em 6em 0;
  }
  #propertiesdescription .propertiesdescription__photos img {
    height: 9.4em;
  }
  .page-section {
    padding: 3em 0 9.3em 0;
  }
}

@media (max-width: 578px) {
  #propertiesdescription .propertiesdescription__col {
    padding: 2em 1.5em;
  }
  #propertiesdescription .propertiesdescription__photos {
    padding: 0;
    margin-top: 20vh;
  }
  #propertiesdescription .propertiesdescription__photos img {
    height: 10.5em;
  }
}

/***** LAND DESCRIPTION *****/

#propertiesdescription .landdescription__title {
    border-left: 5px solid #F3C623;
    padding: 1em;
}

.land__btn-tab {
  color: #555555;
  background: #fff;
}

.land__btn-tab:hover {
  color: #F3C623;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #fff;
  background: #F3C623;
}

#services {
  color: #707070;
}

#services h3 {
  color: #707070;
  font-weight: 700;
}

#services .card {
  border-radius: 8px;
  -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

#services .service-heading {
  margin: 15px 0;
}

#services .title__line--services {
  text-align: left;
  border-bottom: 5px solid #127681;
  margin: 10px 0;
}

#services .card__services--rent {
  border-left: 5px solid #29A19C;
}

#services .card__services--name-rent {
  color: #29A19C;
}

#services .card__services--icon-rent {
  font-size: 3.3em;
  color: #29A19C;
}

#services .card__services--sell {
  border-left: 5px solid #F3C623;
}

#services .card__services--name-sell {
  color: #F3C623;
}

#services .card__services--icon-sell {
  font-size: 3.3em;
  color: #F3C623;
}

#services .card__services--pimp {
  border-left: 5px solid #A3F7BF;
}

#services .card__services--name-pimp {
  color: #A3F7BF;
}

#services .card__services--icon-pimp {
  font-size: 3.3em;
  color: #A3F7BF;
}

section#contact {
  color: #fff !important;
  background-color: #212529;
  background-image: url("../img/contact.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

section#contact h6 {
  color: #fff;
  font-size: 2em;
  font-weight: 700;
}

section#contact p {
  font-family: 'Heebo', sans-serif;
}

section#contact .section-heading {
  color: #fff;
}

section#contact .title__line--contact {
  text-align: left;
  border-bottom: 5px solid #A3F7BF;
  margin: 10px 0;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: #A3F7BF;
  -webkit-box-shadow: none;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Mulish', sans-serif;
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Mulish', sans-serif;
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Mulish', sans-serif;
}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Mulish', sans-serif;
}

section#contact .btn-email {
  background-color: #A3F7BF;
}

section#contact .btn-email:hover {
  background-color: #211915;
  border-color: #211915;
  color: #fff;
}

section#contact .contact__icon {
  font-size: 1.3em;
}

section#contact .contact__email, section#contact .contact__phone, section#contact .social-buttons {
  padding-left: 3.8em;
}

section#contact .contact__email, section#contact .contact__phone {
  display: block;
  color: #fff;
  margin: 1em 0;
}

section#contact ul.social-buttons {
  margin-bottom: 0;
}

section#contact ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
}

section#contact ul.social-buttons li a:active, section#contact ul.social-buttons li a:focus, section#contact ul.social-buttons li a:hover {
  background-color: #211915;
}

@media (max-width: 576px) {
  section#contact {
    text-align: center;
    padding: 0;
  }
  section#contact h2 {
    margin-top: 1em;
  }
  section#contact .contact__email, section#contact .contact__phone, section#contact .social-buttons {
    padding-left: 0;
  }
}

@media (max-width: 992px) {
  section#contact h6 {
    font-size: 1.7em;
  }
}

.footer {
  background-color: #211915;
  padding: 3em 0;
}

.footer img {
  width: 60%;
  padding-left: 2em;
}

.footer h6, .footer p {
  color: #fff;
}

.footer .contact__email, .footer .contact__phone {
  display: block;
  color: #fff;
  margin: 1em 0;
}

.footer ul.social-buttons {
  margin-bottom: 0;
}

.footer ul.social-buttons li a {
  font-size: 20px;
  line-height: 50px;
  display: block;
  width: 50px;
  height: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
}

.footer ul.social-buttons li a:active, .footer ul.social-buttons li a:focus, .footer ul.social-buttons li a:hover {
  background-color: #211915;
}

.footer .list-group li {
  text-align: left;
}

.footer .list-group li a {
  color: #fff;
}

.footer .list-group li span {
  color: #29A19C;
}

@media (max-width: 576px) {
  .footer .container {
    text-align: center;
  }
  .footer .container img {
    padding-left: 0;
  }
}

@media (max-width: 992px) {
  .footer .contact__phone, .footer .contact__email {
    font-size: .9em;
  }
}
